html {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-left: .7em;
  max-wdith: 25em;
}

body {
  margin: 0;
  display: inline-block;
}

header {
  display: inline-block;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
  margin-top: 1.5rem;
  vertical-align: middle;
}

p {
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding: 1em;
  max-width: 25em;
}

a {
  text-decoration: none;
  color: #333;
  padding: .4em .75em .5em;
  border-style: solid;
  border-color: #333;
  border-radius: .5em;
  margin: 1.5em;
}

a:hover {
  background-color: #666;
  color: #eee9de;
  border-color: #666;
}
